@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black);
  color: var(--light-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --social-pink: #f62e8e;
  --social-blue: #2e8af6;
  --dark-black: #181a1c;
  --light-white: #ecebed;
  --black: #000000;
  --white: #ffffff;
  --gray: #323436;
  --light-gray: #727477;

  /* Edit by Stefan: 0-100% */
  --gradient: linear-gradient(
    90deg,
    rgba(246, 46, 142, 1) 0%,
    rgba(172, 26, 240, 1) 100%
  );
}
