.slider {
  background: var(--black);
  height: 200px;
  width: 100vw;
  _border: solid 1px red;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 10px;
  gap: 10px;
  align-items: center;
}

.slider-pics {
  height: 140px;
  width: 100px;
  border-radius: 10%;
}

_.pic-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 2px var(--social-pink);
  display: flex;
  _justify-content: space-between;
  _margin-left: 25px;
  _margin-top: -100px;
  z-index: 10;
}

_.slider-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 25px;
  padding-right: 10px;
  gap: 10px;
}

.div-container {
  position: relative;
}

.pic-icon1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 2px var(--social-pink);
  position: absolute;
  bottom: 15px;
  left: 30px;
}
