#search-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  background: var(--black);
  color: var(--white);
  height: auto;
  width: 90vw;
  height: 20vh;
}

.search__bar {
  height: 50px;
  width: 800px;
  border-radius: 20px;
  text-align: left;
  padding: 15px;
  background: var(--gray);
  font-size: 15px;
  padding-top: 13px;
}

.search__icon {
  position: absolute;
  top: 52px;
  right: 25px;
  filter: invert(45%) sepia(8%) saturate(147%) hue-rotate(177deg)
    brightness(97%) contrast(90%);
}

.search_navlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 25px 0;
}

.search-li {
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 300s;
  border: 1px solid white;
}

.menu {
  width: 90vw;
  margin: 0 auto;
}

.search-conti {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}
