body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}
/* __________________FEED_________________ */

.posts {
  /* RIDGE */
  border: 5px ridge rgb(128, 47, 47);
  background-color: var(--white);
  height: 100vh;

  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _______________POST_CONTAINER_________________ */

.post-container {
  position: relative;
  /* DASHED */
  border: 3px dashed black;
  width: 400px;
  height: 500px;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ________________________HEAD_____________________ */

.head {
  /* DOTTED */
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px dotted red;
  min-width: 360px;
  /* height: 300px; */
  background-color: transparent;
}

.profile {
  /* background-color: var(--light-gray); */
  border: 1px double black;
}

.name-card {
  padding-left: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
}

#avatar-portre {
  display: flex;
  /* align-items: center; */
  justify-items: center;
  border: 1px dotted black;
  width: 3rem;
  height: 3rem;
}

.status {
  color: var(--black);
}

.icon-dots-vertical {
  /* height: 100px; */
  /* background-color: var(--light-gray); */
  display: flex;
  align-items: center;
  border: 1px solid black;
}

/* -------------------MAIN TEXT----------------------------------------- */
.main-text {
  border: 2px double black;
  margin-top: 40px;
}

.quote {
  margin-top: ;
  border: 2px dotted black;
  text-align: left;
}

/* __________________________________FOOTER________________________________ */

.foot {
  position: absolute;
  bottom: 0;
  /* ---DASHED-- */
  border: 2px dashed black;
  display: flex;
  justify-content: space-between;

  min-width: 360px;
}

.foot-leftside {
  border: 1px solid black;
}

.foot-rightside {
  display: inline-block;
  border: 1px dotted black;
}
