@import url(./profile-img.css);

.profile_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile_bio h1 {
  font-size: 18px;
  color: var(--white);
}

.profile_location {
  font-size: 14px;
  color: var(--light-gray);
}

.profile_description {
  font-size: 14px;
}
