@import url(./profile-bio.css);
@import url(./profile-action.css);
@import url(./profile-navigation.css);

.profile_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
